apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-monitoring-config
  namespace: openshift-monitoring
data:
  config.yaml: |
    enableUserWorkload: {{ enable_user_namespace_monitoring }}
    prometheusK8s:
      retention: {{ monitoring_retention_period }}
      volumeClaimTemplate:
        metadata:
          name: {{ monitoring_pvc_name }}
        spec:
          storageClassName: {{ monitoring_storage_class }}
          resources:
            requests:
              storage: {{ monitoring_storage_size }}
    alertmanagerMain:
      volumeClaimTemplate:
        metadata:
          name: {{ alerting_pvc_name }}
        spec:
          storageClassName: {{ monitoring_storage_class }}
          resources:
            requests:
              storage: {{ alerting_storage_size }}